<%- include("./partials/head.ejs")%> <%- include("./partials/nav.ejs")%>

<div class="about content">
  <h2>About us</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi eos, debitis
    provident reiciendis numquam nulla commodi ullam obcaecati quibusdam dicta
    veniam harum quasi delectus eius voluptas asperiores, autem ipsam ut
    facilis? Quidem maiores veniam praesentium distinctio animi asperiores neque
    quod architecto enim? Voluptatem, nostrum laboriosam exercitationem dicta
    deserunt facilis quisquam.
  </p>
</div>
<%- include("./partials/footer.ejs")%>
